<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="<?php bloginfo('charset'); ?>" />
    <title>Ordered Rooms</title>
</head>
<body>
    <h1>Ordered Rooms</h1>

    {% if view.object_list %}
        <ul>
            {% for room in view.object_list %}
                <li>
                    <p>Ordered Room: {{ room.ordered_room }}</p>
                    <p>Type of Room: {{ room.type_room }}</p>
                    <p>Created: {{ room.created_at }}</p>
                    <p>Rental Days: {{ room.rental_days }}</p>
                    <p>Guest Name: {{ room.guest_name }}</p>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

</body>
</html>